.di{
	padding-right: 5px;
}

.bt2 {
	margin-left: 22.5px;
	margin-right: 22.5px;
}	

p {
	font-size: 16px;
	margin-top: -5px;
}

#botao {
	margin-top: -2px;
}

h5 {
	margin-top: 20px;
	margin-bottom: -7px;
}

h3, #end1, #legenda, #txt1, #txt2 {
	margin-bottom: 10px;
}

#alerta, #refresh, #endereco {
	margin: 20px 0px 5px 0px;
}

#hide {
	display: none;
}

.caixa {
	margin: 8px 0 0 0;
	display: none;
	border: 1px solid silver;
	border-radius: 20px;
	padding: 15px 15px 15px 15px;
	padding: 5px 5px 5px 5px;
	font-size: 20px;
}

.button {
	padding: 7px 10px 7px 10px;
	margin: 0px 10px 5px 0px;
}

#result {
	width: 40px;
	height: 27px;
	margin: 20px 20px auto;
	background: #10171D;
    color: white;
	border-radius: 50px;
	display: inline-block;
}

#count {
	padding-bottom: 25px;
}

#tanque {
	max-width: 400px;
	display: inline-block;
}

svg {
	margin-top: -10px;
	margin-bottom: -20px;
}
input {
	width: 80%;
	border-radius: 5px;
}

#botao:focus, .button:focus, input{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}
 
#botao:hover {
	box-shadow: 0 0 0px blue;
	border: 1px solid blue;
}